nav {
    background-color:#BCC9D6;
    padding:10px 0;
    /*position: relative;*/
    /*z-index: 9999;*/
    margin: 0 auto;
    width:600px;
    border: 1px double white;
    box-shadow: 0 0 10px rgba(141,157,183, 0.8); /* Параметры тени */
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
    position:relative;
}

/* sub navigation */
nav li ul {
    background-color:#BCC9D6;
    position:absolute;
    left:0;
    top:40px; /* make this equal to the line-height of the links (specified below) */
    width:200px;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
}

/* style all links */
nav a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
}
nav a {
    color: black;
    text-decoration:none;
    display:block;
}
nav a:hover,
nav a:focus,
nav a:active {
    color:rgb(50,50,50);
}

/* style sub level links */
nav li li a {
    border-bottom:solid 1px white;
    margin:0 10px;
    padding:0;
}
nav li li:last-child a {
    border-bottom:none;
}

/* hide sub menu links */
ul.sub-menu {
    display:none;
}

/* show arrows for dropdowns */
nav li.dropdown > a {

    background-position:right 20px;
    background-repeat:no-repeat;
}

nav li li.dropdown > a {

    background-position:right 16px;
    background-repeat:no-repeat;
}
